body{
    background-color: #ececec;
    font-family: 'Noto Sans', sans-serif; 
}

.header{
    width: 100%;
    text-align: center;
}

nav a{
    margin: 10px;
}

.tuite{
    width: 80%;
    height: 5vh;
    margin: 5px;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 20px
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%

}

.pic-small {
    width: 10px;
    height: 10px;
    background-size: cover;
    border-radius: 50%
}